*{margin: 0px; padding: 0px;}

body{
  font-family: Helvetica, sans-serif;
}

/*Esto me permite crear un fondo negro semi-trasparente*/

.container{
  background-color: rgba(0, 0, 0, 0.5);
}

/*
Con esto centro el video en punto central de la pagina y hago
que cubra toda la pantalla sea la resolucion sin importar la resolucion de la pantalla
*/

video{
  position: fixed;
  left: 0;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9){
  video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
    video{
      width: auto;
      height: 100%;
    }
}





