*{
    margin: 0px; padding: 0px;
}

html{
    height: 100%;
}

h2 {
    margin-bottom: 2vh;
}

body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: sticky;
    background-color: white;
    top: 0;
    box-shadow: 2px 2px 10px black;
}

header p{
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;
    padding: 1px;
}

header p::after{
    content: url(../img/tree2.png);
}
header p::before{
    content: url(../img/tree2.png);
}

img{
    width: 7.5%;
    height: 100px;
}

header img:nth-child(3){
    width: 15px;
    height: 15px;
}

header nav{
    flex-grow: 0.45;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    flex-grow: 0.1;
    text-align: center;
}

body>div:nth-child(2){
    background-image: url(../img/casa-mayor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 460px;
}

body>main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    justify-content: space-evenly;
    height: 300px;
    padding: 20px;
}

li{
    list-style: none;
}

main>aside>ul>li>p{
    margin-bottom: 2px;
}

main>aside>ul>li>h3{
    margin-bottom: 15px;
}

main>section>article{
    margin-bottom: 15px;
}

section aside ul li{
    text-align: left;
}

main {
    margin-top: 2vh;
}

main section{
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-grow: 0.01;
}

main>section>article:nth-child(3){
    overflow: hidden;
}

main li p{
    font-size: 0.8rem;
}

main article p{
    font-size: 0.8rem;
}

main aside a:nth-child(3){
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    border: solid grey 2px;
}

main aside a:nth-child(3):hover{
    background-color: black;
    color: white;
}

main section a:nth-child(5){
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: solid grey 2px;
}

main section a:nth-child(5):hover{
    background-color: black;
    color: white;
}

input:nth-child(3):hover{
    background-color: black;
    color: white;
}

div:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    justify-content: space-evenly;
    padding: 20px;
    width: 100vw;
    height: 150px;
}

form{
    display: flex;
    width: 400px;
    height: 150px;
}

input:nth-child(2){
    border: 2px solid lightgrey;
    width: 150px;
    height: 50px;
    flex-grow: 2;
    margin-right: 10px;
}

input:nth-child(3){
    border: 2px solid lightgrey;
    width: 50px;
    height: 54px;
    flex-grow: 0.7;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    height: 200px;
    align-items: center;
    align-items: stretch;
    box-shadow: 2px 2px 10px black;
}

footer ul li:nth-child(1){
    margin-top: 30px;
    font-weight: bold;
}

footer ul li{
    padding: 5px;
}

a{
    text-decoration: none;
    color: rgb(129, 124, 124);
    position: relative;
}

a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0px;
    left: 0px;
    bottom: -5px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

a:active{
    text-decoration: underline;
}

a:visited{
    color: rgb(129, 124, 124);
}

a:link{
    color: black;
}

a:hover{
    color: rgb(37, 138, 37);
    background-color: white;
}